<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog md-dialog-70-own" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="largeModalLabel">Traspaso</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-float">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input type="hidden" id="id" name="id" class="item-form">
                            <textarea id="descripcion" name="descripcion" rows="1" class="form-control no-resize auto-growth item-form" required></textarea>
                            <label for="descripcion" class="form-label">Descripción</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fkorigen" class="form-label">Sucursal Origen</label>
                        <select id="fkorigen" name="Origen" class="form-control show-tick item-form" required>
                            {% for s in sucursales %}
                                <option value="{{ s.id }}">{{ s.nombre }}</option>
                            {% end %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fkdestino" class="form-label">Sucursal Destino</label>
                        <select id="fkdestino" name="fkcliente" class="form-control show-tick item-form" required>
                            {% for c in sucursales %}
                                <option value="{{ c.id }}">{{ c.nombre }}</option>
                            {% end %}
                        </select>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h6 id="cliente_enable" class="">Detalle de los productos de la orden</h6>
                            <table id="table_detail" class="table table-bordered table-striped table-hover" style="width:100%"></table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="insert" type="button" class="btn btn-primary waves-effect">Guardar</button>
                <button id="update" type="button" class="btn btn-primary waves-effect">Guardar</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
