<form id="form-credential">
    <div class="row clearfix">
        <div class="col-sm-6">
            <label for="username_profile">Nombre de usuario</label>
            <div class="input-group">
                <div class="form-line">
                    {% module xsrf_form_html() %}
                    <input type="hidden" id="id" name="id" value="{{ dtuser.id }}" class="item-form">
                    <input type="text" id="username_profile" name="username_profile" class="form-control" value="{{ dtuser.username }}" placeholder="Ingrese su usuario" required>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label for="password_profile">Contraseña actual</label>
            <div class="row clearfix">
                <div class="col-sm-11">
                    <div class="input-group">
                        <div class="form-line">
                            <input type="password" id="password_profile" name="password_profile" class="form-control" placeholder="Ingrese su clave actual" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <span class="input-group">
                        <i id="current-eye" class="material-icons md-18">visibility</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-6">
            <label for="newpass_profile">Contraseña nueva</label>
            <div class="row clearfix">
                <div class="col-sm-11">
                    <div class="input-group">
                        <div class="form-line">
                            <input type="password" id="newpass_profile" name="newpass_profile" class="form-control" placeholder="Ingrese su nueva clave" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <span class="input-group">
                        <i id="new-eye" class="material-icons md-18">visibility</i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label for="repeat_profile">Repetir contraseña</label>
            <div class="row clearfix">
                <div class="col-sm-11">
                    <div class="input-group">
                        <div class="form-line">
                            <input type="password" id="repeat_profile" name="repeat_profile" class="form-control" placeholder="Ingrese otra vez la nueva clave" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <span class="input-group">
                        <i id="rep-eye" class="material-icons md-18">visibility</i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button id="upd-credential" type="button" class="btn btn-primary m-t-0 waves-effect">Actualizar</button>
</form>
